gradio
albumentations
opencv-contrib-python
imageio
imageio-ffmpeg
pytorch-lightning
omegaconf
test-tube
streamlit
einops
transformers
webdataset
kornia
open_clip_torch
invisible-watermark
streamlit-drawable-canvas
torchmetrics
timm
addict
yapf
prettytable
safetensors
basicsr
fvcore
pycocotools
wandb
mediapipe
pymeshlab
trimesh
open3d
open-clip-torch
einops
natsort
libigl
glm
moderngl_window
git+https://github.com/facebookresearch/pytorch3d.git
transformers
diffusers
pytorch-lightning
omegaconf
scikit-image
kornia
xformers
accelerate
blender
